.LayoutTitle {
  padding-bottom: 30px;
  &Title {
    font-size: 32px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    font-family: "Raleway-Bold";
    color: var(--theme-title);
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 120px;
      height: 1px;
      background: #ddd;
      bottom: 1px;
      left: calc(50% - 60px);
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      background: #0563bb;
      bottom: 0;
      left: calc(50% - 20px);
    }
  }
}
