:root {
  --all-blue1: #0563bb;
  --all-white1: #ffffff;
  --all-white2: #f2f3f5;
  --all-white3: #f1f1f1;
  --all-dark1: #45505b;
  --all-dark2: #212428de;
  --all-dark3: #3a3a3a;
  --all-dark4: #728394;
}
